<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加角色</title>
<#include "common/include.html">
<link rel="stylesheet" type="text/css" href="${base}/template/admin/css/input.css"/>
<script type="text/javascript">
	// 工具栏
	  $(document).ready(function(){
            $(".inputTable tr td").mouseover(function(){
                $(this).parent().find("td").css("background-color","#d5f4fe");
            });
      })
      /* 当鼠标在表格上移动时，离开的那一行背景恢复 */
      $(document).ready(function(){ 
            $(".inputTable tr td").mouseout(function(){
                var bgc = $(this).parent().attr("bg");
                $(this).parent().find("td").css("background-color",bgc);
            });
      })
      
      $(document).ready(function(){ 
            var color="#f8f8f8"
            $(".inputTable tr:odd td").css("background-color",color);  //改变偶数行背景色
            /* 把背景色保存到属性中 */
            $(".inputTable tr:odd").attr("bg",color);
            $(".inputTable tr:even").attr("bg","#fff");
      })
   
</script>		
</head>
<body class="input">
    <div class="easyui-panel" title="添加角色" style="padding:10px;">
        <form action="${base}/admin/role/save.action" method="post">
            <table table cellspacing="0" cellpadding="0" class="inputTable">
                <tr>
                    <td align="right">名称:</td>
                    <td><input type="text" class="easyui-validatebox"  required="required" name="name"></input></td>
                </tr>
                <tr>
                    <td align="right">描述:</td>
                     <td>
                    	<input type="text" class="easyui-validatebox" name="description"></input>
                    </td>
                </tr>
                <tr>
				<td colspan="2">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td align="right">
					音乐管理：
				</td>
				<td>
					<span>
						<label>
							<input type="checkbox" name="authorities" value="ROLE_ADMIN_SONG"/>歌曲管理
						</label>
						<label>
							<input type="checkbox" name="authorities" value="ROLE_ADMIN_ALBUM"/>专辑管理
						</label>
						<label>
							<input type="checkbox" name="authorities" value="ROLE_ADMIN_GENRE"/>分类管理
						</label>
						<label>
							<input type="checkbox" name="authorities" value="ROLE_ADMIN_ARTIST"/>歌手管理
						</label>
					</span>
				</td>
			</tr>
                <tr>
                    <td align="right">
                    	<input type="submit" class="easyui-linkbutton" value="保存"/>
                    </td>
                    <td>
                      	<input type="reset" class="easyui-linkbutton" value="取消"/>
                   </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>