<!DOCTYPE html>
<html>
    <head>  
        <meta charset="utf-8" />
        <title>音乐风格-分享自由-v8音乐</title>
        <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <#include "home/home-include-css.html">
    </head>
    <body class="bg-info dker">
        <section id="content" class="m-t-lg wrapper-md animated fadeInDown">
            <div class="container aside-xl">
                <a class="navbar-brand block" href="${base}/index.xhtml"><span class="h1 font-bold">V8音乐</span></a>
                <section class="m-b-lg">
                    <form action="${base}/v1/member/register.xhtml" method="POST">
                        <div class="form-group">
                            <input placeholder="用户名" name="username" class="form-control rounded input-lg text-center no-border">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="邮件" name="email" class="form-control rounded input-lg text-center no-border">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="密码" name="password" class="form-control rounded input-lg text-center no-border">
                        </div>
                        <div class="checkbox i-checks m-b">
                            <label class="m-l">
                                <input type="checkbox" checked=""><i></i> 同意<a href="#">用户的服务协议</a>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">注册新用户</span></button>
                        <div class="line line-dashed"></div>
                        <p class="text-muted text-center"><small>已注册账号?</small></p>
                        <a href="signin.html" class="btn btn-lg btn-info btn-block btn-rounded">登录</a>
                    </form>
                </section>
            </div>
        </section>
        <!-- footer -->
        <footer id="footer">
            <div class="text-center padder clearfix">
                <p>
                    <small>Web app framework base on Bootstrap<br>&copy; 2014</small>
                </p>
            </div>
        </footer>
        <!-- / footer -->
        <#include "home/home-include-js.html">
    </body>
</html>